params {
    fastq = "${projectDir}/tests/data/demo.fastq.gz"
    plate_map = "${projectDir}/templates/plate_map.template.csv"
    run_alignment = true
    reference = "${projectDir}/tests/data/demo_reference.fa"
    ko_targets = "${projectDir}/templates/ko_targets.template.tsv"
    out_dir = "demo_output"
    min_depth_ko = 1
    alignment_threads = 2
}
